<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Project 1 Visual Analytics</title>
</head>

<body>
    <noscript> You need to enable JavaScript to run this app. </noscript>
    <div class="root" id="root">
        <div class="banner">Dashboard Project 1</div>
        <div class="sidepanel">
            <button id="load_box_plot_2_1_data_button" class="button">Load Task 2.1</button>
            <button id="load_scatterplot_2_2_data_button" class="button">Load Task 2.2</button>
        </div>
        <div id="svgContainer" class="visualizations">
            <div class="box_plot_2_1">
                <svg class="svg_root" id="box_plot_2_1_svg">
                    <g id="g_x_axis_box_plot_2_1"></g>
                    <g id="g_y_axis_box_plot_2_1"></g>
                    <g id="g_box_plot_2_1"></g>
                </svg>
            </div>
            <div class="scatterplot_2_2">
                <svg class="svg_root" id="scatterplot_2_2_svg">
                    <g id="g_x_axis_scatterplot_2_2"></g>
                    <g id="g_y_axis_scatterplot_2_2"></g>
                    <g id="g_scatterplot_2_2"></g>
                </svg>
            </div>
        </div>
        <!-- <div class="visualizations">
            <div class="barchart">
                <svg class="svg_root" id="barchart_svg">
                    <g id="g_x_axis_barchart"></g>
                    <g id="g_y_axis_barchart"></g>
                    <g id="g_barchart"></g>
                </svg>
            </div>
            <div class="scatterplot">
                <svg class="svg_root" id="scatterplot_svg">
                    <g id="g_x_axis_scatterplot"></g>
                    <g id="g_y_axis_scatterplot"></g>
                    <g id="g_scatterplot"></g>
                </svg>
            </div>
        </div> -->
    </div>
    <div id="tooltip"></div>
</body>

</html>